//Define style for App

body {
    background-color: #f0f0f0;
    background-image: url(/assets/bg-pattern.svg);
}

.app {

    @extend .container;
    padding: $padding;

    &__row {
        @extend .row;
        @extend .around-s;
    }
}
