//Define style for App

.main {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #f0f0f0;
    background-image: url(/assets/bg-pattern.svg);

    overflow:hidden;
}
