.taskList {

    @extend .col-s-12;
    @extend .col-m-4;

    display: flex;
    flex-direction: column;

    &__button {

        @extend .btn;

        margin-bottom: $inline-padding;

        &--add {
            height: 3em;
        }
    }
}
