.segmentHud {

    $subtle-color: rgba($default-color, 0.1);

    background-color: $subtle-color;

    margin: auto 4em;
    padding: $padding;

    &__mainCounter {
        font-size: 3rem;
    }

    &__input {
        border: none;
        cursor: pointer;
        background-color: rgba($default-color, 0.2);
        color: black;
        padding: $padding;
        font-weight: bold;
        cursor: text;
    }


    &__button {

        font-size: 28px;
        line-height: 36px;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        border: 1px solid $default-color;
        background: none;
        color: $default-color;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: $subtle-color;
        }

        &--play {

        }
        &--pause {

        }
        &--finish {

        }
    }

}
