/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//SweetAlert2
@import "../../../client/node_modules/sweetalert2/dist/sweetalert2.min";
//Icomoon
@import "./icomoon";

// Variables
$colors: #FC585A #00B991;
$main-color: #FC585A;
$default-color: #00B991;
$border-size: 1px;
$border-type: solid;
$border-radius: 2px;
$padding: 1rem;
$inline-padding: .2rem;

// Load ProntoCSS Sass files
@import "../../../client/node_modules/prontocss/src/pronto";

// Load main bundle styles
@import "../../../client/app/bundles/Main/App";
@import "../../../client/app/bundles/Main/task/TaskList";
@import "../../../client/app/bundles/Main/task/Task";
@import "../../../client/app/bundles/Main/segment/SegmentPanel";
@import "../../../client/app/bundles/Main/segment/SegmentHud";
@import "../../../client/app/bundles/Main/segment/SegmentList";
@import "../../../client/app/bundles/Main/segment/Segment";
